<h2>Neo's Hatebu</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <dl>
    <dt>ユーザ名</dt>
    <dd>
      <p><input type="text" formControlName="userName" class="form-control"></p>
    </dd>
    <dt>パスワード</dt>
    <dd>
      <p><input type="password" formControlName="password" class="form-control"></p>
    </dd>
  </dl>
  <p><button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">ログイン</button></p>
</form>

<p *ngIf="message" class="text-danger font-weight-bold">{{ message }}</p>
