<p *ngIf="errorMessage">{{ errorMessage }}</p>

<ng-container *ngIf="currentCategory">
  <div class="row">
    <div class="col-8">{{ currentCategory.entries.length }} 件 ({{ currentCategory.updatedAt }})</div>
    <div class="col-4 text-right"><button type="button" class="btn btn-outline-primary" (click)="onReloadEntries(currentCategory.id)">更新</button></div>
  </div>
  
  <ng-container *ngIf="currentCategory.entries && currentCategory.entries.length">
    <div *ngFor="let entry of currentCategory.entries" class="entry-container">
      <div class="thumbnail">
        <img [src]="entry.thumbnailUrl" *ngIf="entry.thumbnailUrl">
      </div>
      <div><button type="button" (click)="onRemoveEntry(entry.url)">削除する</button></div>
      <div><strong><a [href]="entry.url" target="_blank">{{ entry.title }}</a></strong></div>
      <p>{{ entry.description }}</p>
      <p><img [src]="entry.faviconUrl" *ngIf="entry.faviconUrl"></p>
      <div>
        <span class="count">{{ entry.count }} Users</span>
        <span class="date">{{ entry.date }}</span>
      </div>
    </div>
  </ng-container>
  
  <p *ngIf="!currentCategory.entries || !currentCategory.entries.length">表示できるエントリはありません。</p>
</ng-container>
