<h1>NG ワード設定</h1>

<p><a [routerLink]="['/home']">戻る</a></p>

<form [formGroup]="newForm">
  <input type="text" formControlName="word" placeholder="NG ワードを追加">
  <button type="button" (click)="onAddNgWord()" [disabled]="newForm.invalid">追加</button>
</form>

<p *ngIf="message">{{ message }}</p>

<ol *ngIf="ngWords && ngWords.length">
  <li *ngFor="let ngWord of ngWords">
    <button type="button" (click)="onRemoveNgWord(ngWord.id)">削除</button>
    {{ ngWord.word }}
  </li>
</ol>

<p *ngIf="!ngWords || !ngWords.length">NG ワードは登録されていません。</p>
