<form [formGroup]="removeForm" class="form-inline" (ngSubmit)="onRemoveNgUrls()">
  <p>
    <input type="date" formControlName="date" class="form-control d-inline w-auto">
    以前を
    <button type="submit" class="btn btn-danger" [disabled]="removeForm.invalid">削除</button>
  </p>
</form>

<p *ngIf="message" class="text-danger font-weight-bold">{{ message }}</p>

<p *ngIf="ngUrls && ngUrls.length">全 {{ ngUrls.length }} 件</p>

<ol *ngIf="ngUrls && ngUrls.length">
  <li *ngFor="let ngUrl of ngUrls">
    <div>
      <span class="date">{{ ngUrl.createdAt }}</span>
      <span class="url"><a [href]="ngUrl.url" target="_blank">{{ ngUrl.url }}</a></span>
    </div>
  </li>
</ol>

<p *ngIf="!ngUrls || !ngUrls.length" class="text-warning font-weight-bold">NG URL は登録されていません。</p>
