@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_variables';

li > div {
  display: inline-grid;
  grid-template-columns: auto auto;
  
  @include media-breakpoint-down(sm) {
    display: block;
  }
  
  .date {
    grid-template-columns: 1;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .url {
    grid-template-columns: 2;
    margin-left: 1rem;
    word-break: break-all;
    
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}
