<form [formGroup]="removeForm" class="form-inline">
  <p>
    <input type="date" formControlName="date" class="form-control d-inline w-auto">
    以前を
    <button type="button" class="btn btn-danger" (click)="onRemoveNgUrls()" [disabled]="removeForm.invalid">削除</button>
  </p>
</form>

<p *ngIf="message" class="text-danger font-weight-bold">{{ message }}</p>

<dl *ngIf="ngUrls && ngUrls.length">
  <ng-container *ngFor="let ngUrl of ngUrls">
    <dt>{{ ngUrl.createdAt }}</dt>
    <dd>{{ ngUrl.url }}</dd>
  </ng-container>
</dl>

<p *ngIf="!ngUrls || !ngUrls.length" class="text-warning font-weight-bold">NG URL は登録されていません。</p>
